doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title アンケート
  body
    h1 どのデスク画像が一番いいですか？


    form(method="post" action="/enquetes/vote")
      input(type="radio" name="vote" value="1")
      span 1
        img(src='./1.png', style='width:100px;height:100px;')

      input(type="radio" name="vote" value="2")
      span 2
      input(type="radio" name="vote" value="3")
      span 3
      input(type="radio" name="vote" value="4")
      span 4
      input(type="radio" name="vote" value="5")
      span 5
      input(type="radio" name="vote" value="6")
      span 6
      input(type="radio" name="vote" value="7")
      span 7
      input(type="radio" name="vote" value="8")
      span 8
      input(type="radio" name="vote" value="9")
      span 9
      input(type="radio" name="vote" value="10")
      span 10
      input(type="radio" name="vote" value="11")
      span 11
      input(type="radio" name="vote" value="12")
      span 12
      button(type="submit") 投票